.App {
  text-align: center;
}

.imgMovie {
  max-height: 300px;
}

.padding30 {
  padding: 30px;
}

.padding10 {
  padding: 10px;
}

.movieCard {
  display: flex;
  flex-direction: row;
}

.buttonLink {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .movieCard {
    flex-direction: column;
  }
}